@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    @apply transition-colors duration-300;
}

header {
    display: grid;
    grid-template-columns: 160px 1fr 1fr;
    gap: 1rem;
    padding: 40px;
    align-items: center
}

nav {
    @apply flex items-center justify-start space-x-4;
}

nav ul li {
    @apply text-slate-500 dark:text-white font-sans font-bold;
}

.logo {
    @apply w-12 aspect-square bg-gray-500 dark:bg-gray-50 rounded-lg
}
/* .locale-button {
    @apply text-slate-500 dark:text-white font-sans font-bold rounded-full;
} */
.locale-dropdown {
    @apply absolute mt-32;
}
.locale-buttons {
    @apply flex items-center flex-col gap-2;
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
